# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\abder\OneDrive\Bureau\coffee-machine-kata\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea
*.iml
target/
*.log